/* You can add global styles to this file, and also import other style files */
body{
    background-image: linear-gradient(to bottom right, red,blue);
    background-size: cover;
    width: 100vw;
    
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
html {
    height: 100%;
}  
